body{
    font-family: Verdana;
    font-size: 22pt;
  }
  /* Headers */
  h1,h2,h3,h4,h5,h6{
    font-size: 24pt;
  }

#content{         
    max-width:1920px; 
    }

#main .nav-pills > li.active > a,
#main .nav-pills > li.active > a:hover,
#main .nav-pills > li.active > a:focus {
   background-color: #a5ea50;
}

#main .nav-pills > li > a:hover {
  background-color: #ffffff;
}

h1,h2,h3,h4,h5,h6,legend{
    color: #b10d0d;
}

#nav-top span.glyphicon {
  color: #cc1313;
}

#table-of-contents header{
    color:#ffffff;
    background-color: #b51d1d;
}

#table-of-contents h2{
    background-color:#ffffff;
}


a:hover{
    color:#ffffff
}

a:visited{
    color:#ffffff
}

#sidebar {
    color: #ffffff;
    background: #752020;
}

#sidebar h2 {
    color: #fafafa;
    background-color: #a70303;
}

#sidebar a {
    color: #ffffff;
}
 
#sidebar a:hover {
    background-color: #9d9595;
    color: #FFFFFF;
}