
#content{         
    max-width:1920px; 
    }

#main .nav-pills > li.active > a,
#main .nav-pills > li.active > a:hover,
#main .nav-pills > li.active > a:focus {
   background-color: #ffffff;
}

#main .nav-pills > li > a:hover {
  background-color: #ffffff;
}

h1,h2,h3,h4,h5,h6,legend{
    color: #b10d0d;
}

#nav-top span.glyphicon {
  color: #cc1313;
}

#table-of-contents header{
    color:#ffffff;
    background-color: #b51d1d;
}

#table-of-contents h2{
    background-color:#ffffff;
}


a:hover{
    color:#ffffff
}

a:visited{
    color:#ffffff
}

#sidebar {
    color: #682929;
    background: #f8f7f7;
}

#sidebar h2 {
    color: #fafafa;
    background-color: #c00a0a;
}

#sidebar a {
    color: #000000;
}
#sidebar p {
    color: #000000;
}
#sidebar a:hover {
    background-color: #989898;
    color: #FFFFFF;
}