
#main .nav-pills > li.active > a,
#main .nav-pills > li.active > a:hover,
#main .nav-pills > li.active > a:focus {
   background-color: #edf81b;
}

#main .nav-pills > li > a:hover {
  background-color: #16f1f1;
}

h1,h2,h3,h4,h5,h6,legend{
    color: #b10d0d;
}

#nav-top span.glyphicon {
  color: #008B8B;
}

#table-of-contents header{
    color:#008B8B;
    background-color: #008B8B;
}

#table-of-contents h2{
    background-color:#22983B;
}


a:hover{
    color:#008B8B
}

a:visited{
    color:#008B8B
}

#sidebar {
    color: #6b3e3e;
    background: #6b3e3e;
}

#sidebar h2 {
    color: #fafafa;
    background-color: #891111;
}

#sidebar a {
    color: #ffffff;
}

#sidebar a:hover {
    background-color: #a29e9e;
    color: #FFFFFF;
}